.button {
  @apply py-[14px] px-[20px] text-white rounded-md cursor-pointer;
  border: 2px solid #0087ab;
  background: #0072bd;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.18);
  &:hover {
    transition: all 0.2s ease;
    background: #078de6;
  }
}
