.container {
	@apply mt-5;
}

.employees {
	padding: 20px;
	background: #fff;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
	justify-items: center;
	border-radius: 12px;
	gap: 20px;
}
