.mobile {
  position: absolute;
  right: 20px;
  top: 75px;
  z-index: 9999;
  background: #fff;

  &__body {
    @apply p-10 flex flex-col justify-center;
  }
  &__email {
    & p {
      @apply flex gap-2 my-5;
    }
  }
  & li {
    @apply mt-5;
  }
  & span {
    @apply whitespace-nowrap;
  }
  &__actions {
    @apply flex justify-center gap-5;
    & :first-child {
      @apply justify-start;
    }
    &__login {
      @apply rounded-xl border-2 border-dashed border-black bg-white px-4 py-3 font-semibold uppercase text-black transition-all duration-300 hover:translate-x-[-4px] hover:translate-y-[-4px] hover:rounded-md hover:shadow-[4px_4px_0px_black] active:translate-x-[0px] active:translate-y-[0px] active:rounded-2xl active:shadow-none;
    }
  }
}
.hide {
  display: none;
}
